## Reto 3: `merge` para completar información faltante

### 1. Objetivos:
    - Completar la tabla `users` usando la información contenida en las tablas `occupations` y `age_ranges`.
    
---
    
### 2. Desarrollo:

#### a) Complementado información usando el método `merge`

No es muy práctico tener las tablas `occupations` y `age_range` por sí solas, ya que la información que contienen está íntimamente relacionada con al información de la tabla `users`. Vamos entonces a unir las tres tablas en una sola tabla para tener esa información mucho más accesible. Tu Reto consiste en los siguientes pasos:

1. Lee tus archivos `users`, `occupations` y `age_range` (o como sea que les quisiste llamar) y conviértelos en `DataFrames`.
2. Utiliza el método `merge` para agregar la información contenida en la tabla `occupations` a la tabla `users`.
3. Utiliza el método `merge` para agregar la información contenida en la tabla `age_ranges` a la tabla `users`.
4. Si lo consideras necesario, renombra y reordena las columnas para que la información sea clara.
5. Guarda tu nuevo conjunto de datos en un nuevo archivo .csv.

In [1]:
# Tu código va aquí
#
# ...
# ...
import pandas as pd

In [9]:
users = pd.read_csv('https://raw.githubusercontent.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander_2020_2021/master/Datasets/MovieLens/users-raw.csv',index_col=0,)

In [11]:
occupations = pd.read_csv('https://raw.githubusercontent.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander_2020_2021/master/Datasets/MovieLens/occupations-raw.csv',index_col=0,)

In [12]:
age_range = pd.read_csv('https://raw.githubusercontent.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander_2020_2021/master/Datasets/MovieLens/age_ranges-raw.csv',index_col=0,)

In [13]:
users.head(3)

        gender  age  occupation     cp
user_id
1            F    1          10  48067
2            M   56          16  70072
3            M   25          15  55117

In [14]:
occupations.head(3)

                          description
occupation_id
0              other or not specified
1                   academic/educator
2                              artist

In [15]:
age_range.head()

           range
age_id
1       Under 18
18         18-24
25         25-34
35         35-44
45         45-49

In [16]:
users_full = pd.merge(users, occupations, left_on='occupation', right_index=True).sort_index()

In [21]:
users_full = users_full.rename(columns={'occupation': 'occupation_id', 'description': 'occupation'})

In [22]:
users_full.head()

        gender  age  occupation_id     cp            occupation     range
user_id
1            F    1             10  48067          K-12 student  Under 18
2            M   56             16  70072         self-employed       56+
3            M   25             15  55117             scientist     25-34
4            M   45              7  02460  executive/managerial     45-49
5            M   25             20  55455                writer     25-34

In [18]:
users_full = pd.merge(users_full, age_range, left_on='age', right_index=True).sort_index()

In [23]:
users_full = users_full.rename(columns={'age': 'age_id', 'range': 'age_range'})

In [24]:
users_full

        gender  age_id  occupation_id     cp              occupation age_range
user_id
1            F       1             10  48067            K-12 student  Under 18
2            M      56             16  70072           self-employed       56+
3            M      25             15  55117               scientist     25-34
4            M      45              7  02460    executive/managerial     45-49
5            M      25             20  55455                  writer     25-34
...        ...     ...            ...    ...                     ...       ...
6036         F      25             15  32603               scientist     25-34
6037         F      45              1  76006       academic/educator     45-49
6038         F      56              1  14706       academic/educator       56+
6039         F      45              0  01060  other or not specified     45-49
6040         M      25              6  11106      doctor/health care     25-34

[6040 rows x 6 columns]

In [25]:
users_full.to_csv('users_full.csv')

Compara tus resultados con tus compañeros y tu experta para asegurarse de que todos tengan un conjunto similar que contenga toda la información requerida.